//Custom font import
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

//Import boilerplate stuff
@import "boiler.scss";
@import "colors.scss";

//Variables
$fontStack: 'Helvetica', Arial, sans-serif;
$primaryColor: darken($aqua, 50%);

//CSS
body {
  background-color: $silver;
}

h1 {
  font-family: 'Open Sans', $fontStack;
  color: $primaryColor;
}

p {
  color: #B5B5B5;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.content {
  text-align: center;
  max-width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#giveCat {
  max-width: 600px;
  height: 500px;
  background-color: rgba(50, 50, 50, 1);
}

.btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
  height: 70px;
  padding: 5px 5px 5px 5px;
  background-color: $primaryColor;
  border-radius: 5px;
  p, a {
    color: $white;
    text-align: center;
    font-family: $fontStack;
    font-size: 18px;
  }
  &:hover {
    background-color: darken($primaryColor, 5%);
  }
  &:active {
    background-color: $primaryColor;
  }
}

//Mobile
@import "mobile.scss";
